---
import Fiche from "./Fiche.astro";
---

<div class="p-6 flex flex-col gap-4 rounded-md
    bg-l-bg-secondary dark:bg-d-bg-secondary">
    <div class="flex flex-col gap-2">
        <div class="flex flex-row gap-3">
            <h1>On bed leave</h1>
            <Fiche text="New" color="B10003"/>
        </div>
        <p>testing</p>
    </div>

</div>