---
interface Props {
    text: string;
    value: string | null;
}

const { text, value }: Props = Astro.props;
---

{[value].filter(value => value !== null).map(value => {
    return <div class="flex flex-row gap-2">
        <div class="font-bold w-36 border-r-2 border-l-border dark:border-d-border">{text}</div>
        {value}
    </div>
})}