---
import Doc from './Doc.astro';
import Filters from './Filters.astro';
import Syntax from './Syntax.astro';
---

<div class="flex flex-row">
    <Syntax syntax={['On bed leave', 'Delete file']}/>

    <div class="p-6 flex-auto h-fit flex flex-col gap-2">
        <Doc/>
        <Doc/>
        <Doc/>
    </div>

    <Filters/>
</div>