---
import Doc, { type Documentation } from './Doc.astro';
import DocsFilters from './DocsFilters.astro';
import DocsSyntax from './DocsSyntax.astro';
import docs from '../../assets/docs/docs.json';

const latest = docs.skriptVersion;
const all = [...docs.classes, ...docs.conditions, ...docs.effects, 
            ...docs.events, ...docs.expressions, ...docs.functions,
            ...docs.sections, ...docs.structures].toSorted((x, y) => x.name.localeCompare(y.name));

const names = all.map(x => x.name);

const docTypes: Documentation[] = all.map(doc => ({
    id: doc.id,
    name: doc.name,
    new: doc.since?.includes(latest.split(".").slice(0, 2).join(".")) || false,
    type: type(doc),
    since: (doc.since as string),
    description: doc.description,
    examples: doc.examples!!,
    patterns: (doc.patterns?.length === 1 && doc.patterns?.[0] === "") ? null : (doc.patterns || null),
    requirements: null,
    eventValues: null,
    returnType: null,
    events: null
}));

export enum DocType {
    UNKNOWN = "All",
    NEW = "New",
    CLASS = "Class",
    CONDITION = "Condition",
    EFFECT = "Effect",
    EVENT = "Event",
    EXPRESSION = "Expression",
    FUNCTION = "Function",
    SECTION = "Section",
    STRUCTURE = "Structure"
}

function type(doc: any): DocType {
    return docs.classes.includes(doc) ? DocType.CLASS :
    docs.conditions.includes(doc) ? DocType.CONDITION :
    docs.effects.includes(doc) ? DocType.EFFECT :
    docs.events.includes(doc) ? DocType.EVENT :
    docs.expressions.includes(doc) ? DocType.EXPRESSION :
    docs.functions.includes(doc) ? DocType.FUNCTION :
    docs.sections.includes(doc) ? DocType.SECTION :
    docs.structures.includes(doc) ? DocType.STRUCTURE : DocType.UNKNOWN;
}
---

<script>
    function update() {
        let diff = 0;
        if (screen.width > 768) {
            diff = 2 * 256;
        }
        document.getElementById("docs")!!.style.width = `${document.getElementById("nav")!!.clientWidth - diff}px`
    }

    window.addEventListener("resize", update);
    window.addEventListener("DOMContentLoaded", update);

    document.querySelectorAll(".examples").forEach((button) => {
        button.addEventListener("click", () => {
            const example = button.parentElement!!.querySelector(`.example`)!!;
            button.getElementsByTagName("svg")[0].classList.toggle("-rotate-90");
            example.classList.toggle("hidden");
        });
    });
</script>

<div class="flex flex-col-reverse md:flex-row">
    <DocsSyntax syntax={names}/>

    <div id="docs" class="p-6 flex-auto h-fit flex flex-col gap-4">
        {docTypes.map(x => <Doc docType={x}/>)}
    </div>

    <DocsFilters/>
</div>