---
import Doc from './Doc.astro';
import DocsFilters from './DocsFilters.astro';
import Syntax from './Syntax.astro';
---

<div class="flex flex-col-reverse md:flex-row overflow-y-scroll">
    <Syntax syntax={['On bed leave', 'Delete file']}/>

    <div class="p-6 flex-auto h-fit flex flex-col gap-2">
        <Doc/>
        <Doc/>
        <Doc/>
        <Doc/>
        <Doc/>
        <Doc/>
        <Doc/>
    </div>

    <DocsFilters/>
</div>