---
interface Props {
    text: string;
    color: string;
}

const { text, color }: Props = Astro.props;
---

<div class="my-auto h-fit px-2 py-1 font-bold rounded-md text-xs text-white select-none"
    style={{ backgroundColor: `#${color}` }}>
    {text}
</div>