@import 'tailwindcss';

@font-face {
  font-family: 'Outfit';
  src: url('/Outfit.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/Inter.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: Inter, sans-serif;
  --font-outfit: Outfit, sans-serif;

  --color-skript: #d87c0b;

  --color-docs: #9c0505;
  --color-tutorials: #1b8c17;
  --color-tools: #0099b3;

  --color-l-bg: #efefef;
  --color-d-bg: #0e0e0e;

  --color-l-nav-bg: #e6e6e6;
  --color-d-nav-bg: #1a1a1a;

  --color-l-search-border: #919191;
  --color-d-search-border: #767676;

  --color-l-search-fill: #bfbfbf;
  --color-d-search-fill: #3d3d3d;

  --color-l-search-icon: #6f6f6f;
  --color-d-search-icon: #8f8f8f;

  --color-l-search-text: #333333;
  --color-d-search-text: #c2c2c2;

  --color-l-icon-hover: #bebfbf;
  --color-d-icon-hover: #373737;

  --color-l-bg-secondary: #dcdcdc;
  --color-d-bg-secondary: #1a1a1a;

  --color-l-border: #bfbfbf;
  --color-d-border: #3a3a3a;

  --color-l-examples: #5a5a5a;
  --color-d-examples: #373737;
}

@layer base {
  html {
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-outfit font-bold;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }

  code {
    @apply rounded-xl;
  }
}

@layer utilities {
  .dark .dark\:bg-d-nav-bg {
    background-color: var(--color-d-nav-bg);
  }
  .dark .dark\:text-white {
    color: var(--color-white);
  }
}
