---
import "../style.css";
import Nav, { PageType } from "../components/nav/Nav.astro";
import Page from "../layouts/Page.astro";
---

<Page title="Tools - Skript Docs">
    <Nav type={PageType.TOOLS}/>
    <div class="p-4 my-auto flex flex-col gap-2">
        <a href="/" class="outfit px-8 py-1 m-auto rounded-md bg-skript">
            Javadocs
        </a>
        <a href="/" class="outfit px-8 py-1 m-auto rounded-md bg-skript">
            Pattern Generator
        </a>
    </div>
</Page>