---
import Nav, { PageType } from "../components/Nav.astro";
import Page from "../layouts/Page.astro";
---

<Page title="Tools - Skript Docs">
    <Nav type={PageType.TOOLS}/>
    <section class="p-4 m-auto flex flex-col gap-2 w-full md:w-120">
        <a href="https://docs.skriptlang.org/javadocs/" 
            class="flex flex-col p-4 bg-l-bg-secondary dark:bg-d-bg-secondary rounded-md
            hover:bg-l-icon-hover hover:dark:bg-d-icon-hover transition">
            <div class="flex flex-row">
                <h1 class="flex-auto">Javadocs</h1>
                <svg class="my-auto fill-black dark:fill-white" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 8.4L7.10005 17.3C6.91672 17.4833 6.68338 17.575 6.40005 17.575C6.11672 17.575 5.88338 17.4833 5.70005 17.3C5.51672 17.1167 5.42505 16.8833 5.42505 16.6C5.42505 16.3167 5.51672 16.0833 5.70005 15.9L14.6 7H7.00005C6.71672 7 6.47938 6.904 6.28805 6.712C6.09672 6.52 6.00072 6.28267 6.00005 6C5.99938 5.71733 6.09538 5.48 6.28805 5.288C6.48072 5.096 6.71805 5 7.00005 5H17C17.2834 5 17.521 5.096 17.713 5.288C17.905 5.48 18.0007 5.71733 18 6V16C18 16.2833 17.904 16.521 17.712 16.713C17.52 16.905 17.2827 17.0007 17 17C16.7174 16.9993 16.48 16.9033 16.288 16.712C16.096 16.5207 16 16.2833 16 16V8.4Z"/>
                    </svg>
            </div>
            <p>View the Javadocs for the Skript API.</p>
        </a>

        <a href="/tools/patterns" 
            class="flex flex-col p-4 bg-l-bg-secondary dark:bg-d-bg-secondary rounded-md
            hover:bg-l-icon-hover hover:dark:bg-d-icon-hover transition">
            <div class="flex flex-row">
                <h1 class="flex-auto">Pattern Creator</h1>
                <svg class="my-auto fill-black dark:fill-white" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 8.4L7.10005 17.3C6.91672 17.4833 6.68338 17.575 6.40005 17.575C6.11672 17.575 5.88338 17.4833 5.70005 17.3C5.51672 17.1167 5.42505 16.8833 5.42505 16.6C5.42505 16.3167 5.51672 16.0833 5.70005 15.9L14.6 7H7.00005C6.71672 7 6.47938 6.904 6.28805 6.712C6.09672 6.52 6.00072 6.28267 6.00005 6C5.99938 5.71733 6.09538 5.48 6.28805 5.288C6.48072 5.096 6.71805 5 7.00005 5H17C17.2834 5 17.521 5.096 17.713 5.288C17.905 5.48 18.0007 5.71733 18 6V16C18 16.2833 17.904 16.521 17.712 16.713C17.52 16.905 17.2827 17.0007 17 17C16.7174 16.9993 16.48 16.9033 16.288 16.712C16.096 16.5207 16 16.2833 16 16V8.4Z"/>
                    </svg>
            </div>
            <p>Gets all possible patterns from the specified pattern.</p>
        </a>
    </section>
</Page>