---
import "../style.css";
import Nav from "../components/nav/Nav.astro";
import Page from "../layouts/Page.astro";
---

<Page title="Tutorials - Skript Docs">
    <Nav />
    <h1>Tutorials</h1>
</Page>
