---
import { PageType } from '../Nav.astro';
import NavSearch from '../NavSearch.astro';
import NavSearchMobile from './NavSearchMobile.astro';


interface Props {
    type: PageType;
}

const { type }: Props = Astro.props;

interface TabData {
    name: string;
    link: string;
    color: string;
}

const pages: TabData[] = [
    { name: "Docs", link: "/docs", color: "9C0505" },
    { name: "Tutorials", link: "/tutorials/scripting/getting-started", color: "1B8C17" },
    { name: "Tools", link: "/tools", color: "0099B3" }
];

let active: TabData | null = null;
switch (type) {
    case PageType.DOCS:
        active = pages[0];
        break;
    case PageType.TUTORIALS:
        active = pages[1];
        break;
    case PageType.TOOLS:
        active = pages[2];
        break;
}
---

<script>
    document.getElementById("search-mobile")!!.addEventListener("click", () => {
        document.getElementById("search-mobile-container")!!.classList.toggle("hidden");
        document.getElementById("nav-logo")!!.classList.toggle("hidden");
    });

    document.getElementById("menu-mobile")!!.addEventListener("click", () => {
        document.getElementById("nav-menu-mobile")!!.classList.toggle("hidden");
        document.getElementById("menu-mobile-search")!!.classList.toggle("hidden");
        document.getElementById("menu-mobile-close")!!.classList.toggle("hidden");
        document.getElementById("body")!!.classList.toggle("overflow-hidden");
    });

</script>

<div class="flex flex-row gap-4 p-4 w-full">
    <button id="menu-mobile" class="p-2 -mx-2 my-auto transition hover:bg-l-icon-hover dark:hover:bg-d-icon-hover rounded-full fill-black dark:fill-white hover:cursor-pointer">
        <svg id="menu-mobile-search" xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px">
            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
        </svg>
        <svg id="menu-mobile-close" class="hidden" xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px">
            <path d="m251.33-204.67-46.66-46.66L433.33-480 204.67-708.67l46.66-46.66L480-526.67l228.67-228.66 46.66 46.66L526.67-480l228.66 228.67-46.66 46.66L480-433.33 251.33-204.67Z"/>
        </svg>
    </button>

    <a id="nav-logo" href="/" class="-m-2 p-2 flex flex-row font-bold text-5xl">
        <span>sk</span>
        <span class="m-0 text-skript">.</span>
    </a>

    <div id="menu-mobile-search-grow" class="flex-grow"></div>

    <div id="search-mobile-container" class="w-full hidden">
        <NavSearchMobile/>
    </div>

     <button id="search-mobile" class="rounded-full transition hover:bg-l-icon-hover dark:hover:bg-d-icon-hover hover:cursor-pointer p-2">
        <svg width="32px" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M26.1333 28.5L17.7333 20.1C17.0667 20.6333 16.3 21.0556 15.4333 21.3667C14.5667 21.6778 13.6444 21.8333 12.6667 21.8333C10.2444 21.8333 8.19467 20.9942 6.51733 19.316C4.84 17.6378 4.00089 15.588 4 13.1667C3.99911 10.7453 4.83822 8.69556 6.51733 7.01733C8.19645 5.33911 10.2462 4.5 12.6667 4.5C15.0871 4.5 17.1373 5.33911 18.8173 7.01733C20.4973 8.69556 21.336 10.7453 21.3333 13.1667C21.3333 14.1444 21.1778 15.0667 20.8667 15.9333C20.5556 16.8 20.1333 17.5667 19.6 18.2333L28 26.6333L26.1333 28.5ZM12.6667 19.1667C14.3333 19.1667 15.7502 18.5836 16.9173 17.4173C18.0844 16.2511 18.6676 14.8342 18.6667 13.1667C18.6658 11.4991 18.0827 10.0827 16.9173 8.91733C15.752 7.752 14.3351 7.16844 12.6667 7.16667C10.9982 7.16489 9.58178 7.74844 8.41733 8.91733C7.25289 10.0862 6.66933 11.5027 6.66667 13.1667C6.664 14.8307 7.24756 16.2476 8.41733 17.4173C9.58711 18.5871 11.0036 19.1702 12.6667 19.1667Z"></path>
        </svg>
    </button>

    <button id="dark-toggle-mobile" class="my-auto p-2 -m-2 transition hidden
    hover:bg-l-icon-hover dark:hover:bg-d-icon-hover rounded-full fill-black dark:fill-white hover:cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#000000">
            <path d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z"/></svg>
    </button> 
    <button id="light-toggle-mobile" class="my-auto p-2 -m-2 transition hidden
    hover:bg-l-icon-hover dark:hover:bg-d-icon-hover rounded-full fill-black dark:fill-white hover:cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#FFFFFF">
            <path d="M480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z"/></svg>
    </button> 
</div>