---
import type { Tutorial } from './Tutorials.astro';

interface Props {
    selected: string;
    tutorials: Tutorial[];
}

const { selected, tutorials }: Props = Astro.props;
---

<script>
    // Update position of filters to be below the nav bar,
    // since filters is sticky this cant be done directly
    document.getElementById("tutorials")!!.style.top = `${document.getElementById("nav")!!.offsetHeight}px`;
</script>

<div id="tutorials" class="sticky top-30 left-0 w-full md:w-64 md:h-[100vh] overflow-y-hidden p-4
            flex flex-col gap-2 shrink-0
            border-b-2 md:border-b-0 md:border-r-2 border-l-border dark:border-d-border">
    {tutorials.map(x => {
        if (x.title === selected) {
            return <a href={`../tutorials/${x.id}`} class="text-left px-4 py-3 rounded-md 
                bg-skript hover:cursor-pointer
                font-bold text-white">
                {x.title}
            </a>
        } else {
            return <a href={`../tutorials/${x.id}`} class="text-left px-4 py-3 rounded-md 
                bg-l-bg-secondary dark:bg-d-bg-secondary hover:cursor-pointer
                font-bold">
                {x.title}
            </a>
        }
    })}
</div>
