@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-skript: #D87C0B;

    --color-l-bg: #EFEFEF;
    --color-d-bg: #141414;

    --color-l-nav-bg: #E6E6E6;
    --color-d-nav-bg: #212121;

    --color-l-search-border: #919191;
    --color-d-search-border: #828282;

    --color-l-search-fill: #BFBFBF;
    --color-d-search-fill: #444444;

    --color-l-search-icon: #6F6F6F;
    --color-d-search-icon: #989898;

    --color-l-search-text: #333333;
    --color-d-search-text: #CCCCCC;

    --color-l-icon-hover: #DEDEDE;
    --color-d-icon-hover: #373737;

    --color-l-bg-secondary: #DCDCDC;
    --color-d-bg-secondary: #212121;

    --color-l-border: #BFBFBF;
    --color-d-border: #3A3A3A;
}

body, p, div, table {
    /* scrollbar-width: thin;
    scrollbar-color: var(--color-l-search-fill) var(--color-l-bg); */

    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova",
        "Nimbus Sans", Arial, sans-serif;
}

body, .dark {
    scrollbar-width: thin;
    scrollbar-color: var(--color-d-search-fill) var(--color-d-bg);
}

h1 {
    font-family: Outfit, Roboto, "Helvetica Neue", "Arial Nova",
        "Nimbus Sans", Arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-family: Outfit, Roboto, "Helvetica Neue", "Arial Nova",
        "Nimbus Sans", Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-family: Outfit, Roboto, "Helvetica Neue", "Arial Nova",
        "Nimbus Sans", Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
}

p a {
    @apply underline text-blue-300;
}

.outfit {
    font-family: Outfit, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
}

pre {
    @apply p-4 rounded-md;
}

.hidden-by-type {
    display: none !important;
}

.hidden-by-version {
    display: none !important;
}

.hidden-by-search {
    display: none !important;
}

.syntax {
    @apply w-full text-left p-2 rounded-md 
        bg-l-bg-secondary dark:bg-d-bg-secondary hover:cursor-pointer
        break-words;
}

.syntax-active {
    @apply bg-skript;
}

.doc-container {
    @apply p-4 md:p-6 flex flex-col gap-4 rounded-md
      bg-l-bg-secondary dark:bg-d-bg-secondary;
}

.share {
    @apply flex flex-row-reverse gap-2 
        p-2 my-auto rounded-full 
        hover:bg-l-icon-hover dark:hover:bg-d-icon-hover
        hover:cursor-pointer;
}

.examples {
    @apply pl-2 pr-4 py-1 w-fit rounded-md hover:cursor-pointer font-bold
        flex flex-row gap-2 text-white;
}

td, th {
    @apply p-1;
}

th, tr:nth-child(even) {
    @apply 
        bg-l-bg-secondary dark:bg-d-bg-secondary;
}

ul {
    @apply list-disc list-inside;
}

.-r-90 {
    @apply transform -rotate-90;
}