<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Skript Docs</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	@import "tailwindcss";
	@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		font-size: 20px;
	}
</style>
