---
import NavIcons from "./NavIcons.astro";
import NavLogo from "./NavLogo.astro";
import NavSearch from "./NavSearch.astro";
import NavTabs from "./NavTabs.astro";
---

<nav id="nav" class="absolute w-full h-fit flex flex-col bg-neutral-100">

    <!-- Top bar -->
    <div class="flex flex-row gap-10 p-2 m-auto">
        <NavLogo/>
        <NavSearch/>
        <NavIcons/>
    </div>

    <!-- Page selector -->
    <NavTabs/>

</nav>