---
import NavIcons from "./NavIcons.astro";
import NavLogo from "./NavLogo.astro";
import NavSearch from "./NavSearch.astro";
---

<nav id="nav" class="absolute w-full h-fit flex flex-col bg-l-nav-fill">

    <!-- Top bar -->
    <div class="flex flex-row gap-12 p-2">
        <NavLogo/>
        <NavSearch/>
        <NavIcons/>
    </div>

    <!-- Page selector -->
    <div class="">

    </div>

</nav>