---
import NavIcons from "./NavIcons.astro";
import NavLogo from "./NavLogo.astro";
import NavSearch from "./NavSearch.astro";
import NavTabs from "./NavTabs.astro";

/**
 * The page that is currently active.
 */
export enum PageType {
    DOCS,
    TUTORIALS,
    TOOLS
}

interface Props {
    type: PageType;
}

const { type }: Props = Astro.props;
---

<nav id="nav" class="z-10 sticky top-0 overflow-hidden w-full h-fit flex flex-col 
    bg-l-nav-bg dark:bg-d-nav-bg
    border-b-2 border-l-border dark:border-d-border">

    <!-- Top bar -->
    <div class="flex flex-row gap-4 md:gap-10 p-2 m-auto">
        <NavLogo/>
        <NavSearch/>
        <NavIcons/>
    </div>

    <!-- Page selector -->
    <NavTabs type={type}/>
</nav>