<div class="flex flex-row gap-6 font-bold">
    <a href="/" class="-m-2 p-2 flex flex-row text-5xl">
        <span>sk</span>
        <span class="m-0 text-skript">.</span>
    </a>
    <a href="https://github.com/SkriptLang/Skript/releases/tag/2.10.0" 
        class="hidden lg:block m-auto hover:underline">2.10.0</a>
</div>