---
import docs from "../../assets/docs/docs.json";
---

<div class="w-fit md:w-48 flex flex-row-reverse gap-6 font-bold">
    <a target="_blank"
        href={`https://github.com/SkriptLang/Skript/releases/tag/${docs.skriptVersion}`} 
        class="my-auto hover:underline">{docs.skriptVersion}</a>
    <a href="/" class="-m-2 p-2 flex flex-row text-5xl">
        <span>sk</span>
        <span class="m-0 text-skript">.</span>
    </a>
</div>