<div class="flex flex-row gap-6 font-bold">
    <span class="flex flex-row text-5xl">
        <span>sk</span>
        <span class="m-0 text-skript">.</span>
    </span>
    <span class="m-auto">2.10.0</span>
</div>