<div class="w-fit pt-1 m-auto flex flex-row gap-4 text-white">
    <div class="flex flex-col gap-1">
        <a href="" class="px-8 py-1 m-auto bg-red-700 rounded-md font-bold shadow-lg">
            Docs
        </a>
        <div class="w-full h-1 bg-red-700"></div>
    </div>
    <a href="tutorials" class=" mt-0 px-8 py-1 m-auto bg-green-600 rounded-md hover:bg-green-600 hover:cursor-pointer">
        Tutorials
    </a>
    <a href="tools" class=" mt-0 px-8 py-1 m-auto bg-cyan-600 rounded-md">
        Developer Tools
    </a>
</div>